body, html{
    overflow: hidden;
    background-image: url('./RegistrationBG.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    overflow: hidden;
}

@font-face{
    font-family: myFontSpecial;
    src:url(chyprenormregular.otf);
}

*, .specialFont{
    font-family: myFontSpecial;
}


::placeholder {
    color: #003561;
    opacity: 1; /* Firefox */
    font-weight: 900;
  }